$base-color: #F29F05;
$yellow-shade: #F2CC0C;
$blue-shade: #1E6FD9;
$lightred-shade: #F20505;
$darkred-shade: #BF0404;
$dice-width: 70px;
.dice-holder {
    cursor: pointer;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    height: $dice-width;
    width: $dice-width;
}
.dice{
  position: relative;
  height: $dice-width;
  width: $dice-width;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  transition: -moz-transform 0.3s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*-webkit-transform: translate3d(0,0,0);*/
  z-index:10;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  margin:center;
}

.face {
  position: absolute;
  padding: 0px;
  background:#E8F3F8;
  width:100%;
  height:100%;
  border-radius:7px;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;


  background: white;
  // border:2px solid gray;

  /* Internet Explorer 10 */
  -ms-flex-pack:center;
  -ms-flex-align:center;
  /* Firefox */
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  -webkit-box-pack:center;
  -webkit-box-align:center;
  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
  box-shadow: inset 0px 0px 6px #ccc;
}

.selected .dice .face{
  border: 4px solid rgba(184, 1, 1, 0.8);
}

.dieNumber {
  font-family: "DieFaceFont", sans-serif;
  font-size: 30px;
}

.inline-item{}
/* Span for the dice font. Aligned to fit the dice face */
.dice .face i{
  width: 100%;
  height: 100%;
  font-size: 28pt;
  color:#333;
  /* Firefox */
  display: -moz-box;
  -moz-box-align: center;
  -moz-box-pack: center;

  /* Webkit */
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;


}

.dice .one {
  -webkit-transform: rotateX(90deg) translateZ(30px); transform: rotateX(90deg) translateZ(30px);
  -moz-transform: rotateX(90deg) translateZ(30px);
}

.dice .two {
  -webkit-transform: translateZ(30px); transform: translateZ(30px);
  -moz-transform: translateZ(30px);
}

.dice .three {
  -webkit-transform: rotateY(90deg) translateZ(30px); transform: rotateY(90deg) translateZ(30px);
  -moz-transform: rotateY(90deg) translateZ(30px);
}

.dice .four {
  -webkit-transform: rotateY(180deg) translateZ(30px); transform: rotateY(180deg) translateZ(30px);
  -moz-transform: rotateY(180deg) translateZ(30px);
}

.dice .five{
  -webkit-transform: rotateY(-90deg) translateZ(30px); transform: rotateY(-90deg) translateZ(30px);
  -moz-transform: rotateY(-90deg) translateZ(30px);
}

.dice .six {
  -webkit-transform: rotateX(-90deg) translateZ(30px) rotate(180deg); transform: rotateX(-90deg) translateZ(30px) rotate(180deg);
  -moz-transform: rotateX(-90deg) translateZ(30px) rotate(180deg);
}

