@font-face {
  font-family: 'yahtzee-icon-font';
    src:url('fonts/yahtzee-icon-font.eot?ils8mq');
    src:url('fonts/yahtzee-icon-font.eot?#iefixils8mq') format('embedded-opentype'),
      url('fonts/yahtzee-icon-font.woff?ils8mq') format('woff'),
      url('fonts/yahtzee-icon-font.ttf?ils8mq') format('truetype'),
      url('fonts/yahtzee-icon-font.svg?ils8mq#yahtzee-icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'social-icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'yahtzee-icon-font';
  src:url('fonts/yahtzee-icon-font.eot?ils8mq');
  src:url('fonts/yahtzee-icon-font.eot?#iefixils8mq') format('embedded-opentype'),
    url('fonts/yahtzee-icon-font.woff?ils8mq') format('woff'),
    url('fonts/yahtzee-icon-font.ttf?ils8mq') format('truetype'),
    url('fonts/yahtzee-icon-font.svg?ils8mq#yahtzee-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'yahtzee-icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e602";
}
.icon-twitter:before {
  content: "\e603";
}
.icon-linkedin:before {
  content: "\e604";
}
.icon-support:before {
  content: "\e601";
}
.icon-enter:before {
  content: "\e605";
}
.icon-library:before {
  content: "\e600";
}
.icon-face-fullHouse:before {
  content: "\e606";
}
.icon-sigma:before {
  content: "\e607";
}
.icon-face-chance:before {
  content: "\e608";
}
.icon-face-bonus:before {
  content: "\e609";
}
.icon-hammer:before {
  content: "\e60a";
}
.icon-ticket:before {
  content: "\e60b";
}
.icon-alarm:before {
  content: "\e60c";
}
.icon-info:before {
  content: "\e60d";
}
.icon-play:before {
  content: "\e60e";
}
.icon-pause:before {
  content: "\e60f";
}
.icon-earth:before {
  content: "\e610";
}
.icon-face-bonus-2:before {
  content: "\e611";
}
.icon-key:before {
  content: "\e612";
}
.icon-user:before {
  content: "\e613";
}
.icon-user2:before {
  content: "\e614";
}
.icon-users:before {
  content: "\e615";
}
.icon-twitter2:before {
  content: "\e616";
}
.icon-twitter3:before {
  content: "\e617";
}
.icon-facebook2:before {
  content: "\e618";
}
.icon-googleplus:before {
  content: "\e619";
}
.icon-mail:before {
  content: "\e61a";
}
.icon-rocket:before {
  content: "\e61b";
}
.icon-airplane:before {
  content: "\e61c";
}
.icon-wand:before {
  content: "\e61d";
}
.icon-spinner:before {
  content: "\e61e";
}
.icon-spinner2:before {
  content: "\e61f";
}
.icon-spinner3:before {
  content: "\e620";
}
.icon-home2:before {
  content: "\e621";
}
.icon-calendar:before {
  content: "\e622";
}
.icon-clock:before {
  content: "\e623";
}
.icon-console:before {
  content: "\e635";
}
.icon-checkmark:before {
  content: "\e636";
}
.icon-cancel:before {
  content: "\e637";
}
.icon-monitor:before {
  content: "\e638";
}
.icon-mobile:before {
  content: "\e639";
}
.icon-face-2:before {
  content: "\32";
}
.icon-face-3:before {
  content: "\33";
}
.icon-face-4:before {
  content: "\34";
}
.icon-face-5:before {
  content: "\35";
}
.icon-face-6:before {
  content: "\36";
}
.icon-face-1:before {
  content: "\31";
}
.icon-users2:before {
  content: "\e624";
}
.icon-superscript:before {
  content: "\e625";
}
.icon-gamepad:before {
  content: "\e626";
}
.icon-asterisk:before {
  content: "\e627";
}
.icon-info-sign:before {
  content: "\e628";
}
.icon-chevron-sign-right:before {
  content: "\e62b";
}
.icon-step-forward:before {
  content: "\e62c";
}
.icon-chevron-right:before {
  content: "\e62d";
}
.icon-arrow-right:before {
  content: "\e62e";
}
.icon-arrow-left:before {
  content: "\e62f";
}
.icon-chevron-left:before {
  content: "\e630";
}
.icon-backward:before {
  content: "\e631";
}
.icon-chevron-sign-left:before {
  content: "\e632";
}
.icon-circle-arrow-right:before {
  content: "\e633";
}
.icon-circle-arrow-left:before {
  content: "\e634";
}
.icon-refresh:before {
  content: "\e63a";
}
.icon-clock2:before {
  content: "\e629";
}
.icon-calendar2:before {
  content: "\e62a";
}
.icon-face-fourOfK:before {
  content: "\e63b";
}
.icon-face-twoPair:before {
  content: "\e63c";
}
.icon-face-yahtzee:before {
  content: "\e63d";
}
.icon-face-sStraight:before {
  content: "\e63e";
}
.icon-face-lStraight:before {
  content: "\e63f";
}
.icon-face-threeOfK:before {
  content: "\e640";
}
.icon-chevron-down:before {
  content: "\e641";
}
.icon-double-angle-down:before {
  content: "\e642";
}
.icon-double-angle-up:before {
  content: "\e643";
}
.icon-double-angle-right:before {
  content: "\e644";
}
.icon-double-angle-left:before {
  content: "\e645";
}
.icon-cup:before {
  content: "\e646";
}