@import 'colors';
@import 'fonts';
@import 'buttons';
@import 'die';
@import 'scoreboard';
// @import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);

@-webkit-keyframes fadein {
    0% { display: none; opacity: 0; }
    1% { display: block; opacity: 0; }
    100% { display: block; opacity: 1; }
}
@-webkit-keyframes fadeout {
    0% { display: block; opacity: 1; }
    99% { display: block; opacity: 0; }
    100% { display: none; opacity: 0; }
}


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Actor', sans-serif !important;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
  background:#ececec;
}

.row{
  display: block;
  width:100%;
}
.container{
  height: 100%;
  width: 100%;
  margin:auto;
}
.yahtzee-container{
  /* padding: 40px; */
  display: none;
  width: 540px;
  height: 540px;
  margin: auto;
  // border-radius: 5px;
}
.roll-button{
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack:center;
}
.roll-button i{
  font-size:56px;
  // color:#d9534f;
  // display: -webkit-box;
  // display: -moz-box;
  // display: box;

}

.start-new-game a{
  text-decoration: none;
  color:white;
}
.start-new-game a:hover{
  color:white;
}
.yahtzee-container.show{
  display: block;
}

.yahtzee-container .dice-container{
  -webkit-column-count: 5;

  column-count: 5;
}
.game-controllers{
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  width: 100%;
  min-height: 400px;
}
.game-controllers a i{
  font-size:26px;
  cursor:pointer;
}
.game-controllers a span{
  font-size:18px;
  cursor:pointer;
}
.game-controllers.hide{
  display: none;
}

.game-controllers.end-screen{
  position:relative;
  top:-500px;
  margin:auto;
  width:100%;
  height:400px;
  background:rgba(225,225,225,0.8)
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    margin-top: 100px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background:none;

}
.scoreBoard{
  margin-top: 20px;
  color:black;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}
.selected {
    // background: rgba(0,0,0,0.5);
    border-radius : 8px;
}
.inline-item{
  display: inline;
  float:left;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  margin: 0 2px 0 17px;
}

.game-control{
  margin-top:10px;
  min-height: 100px;
  // color:white;
  // border-radius:7px;
  padding:0 0px;
  margin: 0 0px;
  width: 100%;

}

.game-handlers{
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  margin-top:20px;
  width:100%;
}

.hand-pick-col{
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  // width: 30%;
  margin:5px;
}
.hand-pick-col p{
  border-radius:2px;
  border:1px solid #333;
  background: black;
  padding: 10px;
  cursor:pointer;
}


@keyframes shake{
    0% { transform: translate(20px, 0); }
    50% { transform: translate(-20px, 0); }
    100% { transform: translate(0, 0); }
}

@-moz-keyframes shake{
    0% { -moz-transform: translate(20px, 0); }
    25% { -moz-transform: translate(-30px, 0); }
    50% { -moz-transform: translate(30px, 0); }
    75% { -moz-transform: translate(-20px, 0); }
    100% { -moz-transform: translate(0, 0); }
}

@-webkit-keyframes shake {
    0% { -webkit-transform: translate(20px, 0); }
    25% { -webkit-transform: translate(-30px, 0); }
    50% { -webkit-transform: translate(-10px, 0); }
    50% { -webkit-transform: translate(30px, 0); }
    100% { -webkit-transform: translate(0, 0); }
}

.shake {
    animation-name: shake;
    animation-duration: 130ms;
    animation-iteration-count: 3;
    animation-timing-function: linear;

    -moz-animation-name: shake;
    -moz-animation-duration: 130ms;
    -moz-animation-iteration-count: 3;
    -moz-animation-timing-function: linear;

    -webkit-animation-name: shake;
    -webkit-animation-duration: 130ms;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-timing-function: linear;
}

.footer{
  bottom:0px;

}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;

    }
}
