@import 'colors';
@-webkit-keyframes highlight {
    0%    { background: white;      }
    50%   { background: #ececec;   }
    100%  {
      background: $darkred-shade;
      color:white;
    }
}
@-moz-keyframes highlight {
    0% { background: white; }
    50% { background: #ececec;   }
    100% {
      background:$darkred-shade;
      color:white;
    }
}
keyframes highlight {
    0% { background: white; }
    50% { background: #ececec;   }
    100% {
      background:$darkred-shade;
      color:white;
    }
}

@-webkit-keyframes moveleft {
    0%,50%,100% { -webkit-transform: translate3d(0px,0,0); }
    25%,75% { -webkit-transform: translate3d(-10px,0,0); }
}

@-webkit-keyframes blink {
    0%, 100%{ opacity:1; }
    50% { opacity:0; }
}

@-moz-keyframes moveleft {
    0%,50%,100% { -moz-transform: translate3d(0px,0,0); }
    25%,75% { -moz-transform: translate3d(-10px,0,0); }
}
@moveleft {
    0%,50%,100% { transform: translate3d(0px,0,0); }
    25%,75% { transform: translate3d(10px,0,0); }
}

@-webkit-keyframes infinite-spinning{
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dragleft{
  -webkit-animation:moveleft 1s infinite;
  -moz-animation:moveleft 1s infinite;
  animation:moveleft 1s infinite;
}

.score-board-points{
  font-family: 'Patrick Hand SC', cursive;
  // margin: 10px 0px 30px 0px;
  // height: 100%;
  width: 100%;
  display: inline-block;
  font-size:2em;
  margin: 30px;
}
.score-board-points p{
  margin: 10px 0px 0px 5px;
  // display: inline;
  // float: left;
}
.score-board-points .hands-block{
  width: 100%;

  display: block;
  margin:0px 0px 45px 0 ;
}

.hand-item{

  display: inline-block;
  margin: 5px 3px -1px 5px;
}

.hand-name{
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside:avoid;
  coloumn-break-inside:avoid;
  font-family: 'DieFaceFont', sans-serif !important;
  color: #333;

  border-radius:4px;
  border:1px solid #ccc;
  box-shadow:inset 0px 0px 5px #ececec;
  color:$lightred-shade;
  width:40px;

}
.hand-name i{
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  margin:3px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside:avoid;
  coloumn-break-inside:avoid;
}

.hand-points-slot{
  color:#333;
  display: inline-block;

  border-radius: 4px;
  cursor: pointer;

  border:1px solid #ccc;
  box-shadow: inset 0px 0px 2px #ccc;
  -webkit-box-flex:1.0;
  -moz-box-align: center;
  box-align: center;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside:avoid;
  coloumn-break-inside:avoid;
  width: 40px;
  font-size: 23px;
  text-align: center;

}
.hand-points-slot.locked{
  background:#333;
  box-shadow: inset 0px 0px 3px #333;
  -webkit-animation-name: highlight;
  -moz-animation-name: highlight;
  animation-name: highlight;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.hand-points-available{
  -webkit-box-flex:1.0;
  -moz-box-pack: center;
  box-pack: center;
  color:#666;
  cursor:pointer;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside:avoid;
  coloumn-break-inside:avoid;
  font-size:23px;
}

// Hide the bonus available point placeholder for the bonus hand. Bonus value is calculated only if the user has achieved
// minimum 63 points withing the base hands.
p[data-reg=bonus]{
  height: 35px;
  width: 35px;
}
span[data-reg=bonus]{
  display: none !important;
}
.hand-points-available.hide{
  display: none;

}
.hand-points-slot.positive{
  background: #ececec;
  border-radius: 4px;
  // border: 2px dashed #333;

}

.hand-points-slot span.blinking{
  -webkit-animation:blink 1.5s infinite;
  -moz-animation:blink 1.5s infinite;
  animation:blink 1.5s infinite;
}
.hand-points-available i, .hand-points-available span{
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside:avoid;
  coloumn-break-inside:avoid;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  display: -webkit-box;
  display: -moz-box;
  // display: inline-block;
  // margin: 6px 6px 0 0;
}
.hand-points-available span{
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
}

.total-score-wrapper{
  border-top: 3px solid #333;
  width: 100%;
  font-size:26px;
  font-family: 'Patrick Hand SC', cursive;
}
