<div class="inline-item ">
{{!-- This the HTML code for a die  --}}
  <div class="dice-holder">
    <div class="dice" style="-webkit-transform: rotateX(90deg) rotateY(90deg);
                             -moz-transform: rotateX(90deg) rotateY(90deg);
                             transform: rotateX(90deg) rotateY(90deg);">
      <div class="face one">
        <i class="icon-face-1"></i>
      </div>
      <div class="face two">
        <i class="icon-face-2"></i>
      </div>
      <div class="face three">
        <i class="icon-face-3"></i>
      </div>
      <div class="face four">
        <i class="icon-face-4"></i>
      </div>
      <div class="face five">
        <i class="icon-face-5"></i>
      </div>
      <div class="face six">
        <i class="icon-face-6"></i>
      </div>
    </div>
  </div>
</div>