<div>
  <span class="title"> Your score:</span>
  <span class="current-score">Your score: {{score}}</span>
</div>
<br><br>
<div>
<button class="btn btn btn-success start-new-game">
  <i class="icon-gamepad"></i>
  <a href="#/game">Restart</a>
</button>
</div>