<button class="roll-button btn btn-success">Roll The Dice</button>

<span class="hand-indicator">
  (Left: <span class="turns-to-go">{{togo}}</span> )
</span>

{{!-- <button class="btn roll-button "><i class="icon-cup "></i></button> --}}
