<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">{{action}}</h4>
    </div>

    <div class="modal-body">
      {{#if points}}
        You have got {{points}} points.
        <br />
        <input type="text" name="" value="" placeholder="Your Name"> <input type="submit" name="" value="Submit" class="btn btn-success">
      {{else}}
        Start a new game.
      {{/if}}
    </div>
    <div class="modal-footer">
      <button id="startNewGame" type="button" class="btn btn-default">New Game</button>
      <button  type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->