
<div class="score-board-points">
  <div class="hands-block">
  {{#each baseHands}}
    <div class="hand-item">
      <p class="hand-name">
        <i class="icon-face-{{this.key}}"></i>
      </p>
      <p data-reg={{this.key}}  class="hand-points-slot">
        {{!-- <i data-reg={{this.key}} class="icon-double-angle-left"></i> --}}
        <span data-reg={{this.key}} class="hand-available-data hand-available-{{this.key}}">{{this.val}}</span>
      </p>


    </div>
  {{/each}}
    <div class="hand-item">
      <p class="hand-name">
        <i class="icon-face-bonus"></i>
      </p>
      <p  class="hand-points-slot">
        {{!-- <i data-reg={{this.key}} class="icon-double-angle-left"></i> --}}
        <span class="hand-available-data hand-available-bonus">{{bonus}}</span>
      </p>


    </div>
  </div>
  <div class="hands-block">
  {{#each extraHands}}
    <div class="hand-item">
      <p class="hand-name">
        <i class="icon-face-{{this.key}}"></i>
      </p>
      <p data-reg={{this.key}} class="hand-points-slot">
        {{!-- <i data-reg={{this.key}} class="icon-double-angle-left"></i> --}}
        <span data-reg={{this.key}} class="hand-available-data hand-available-{{this.key}}">{{this.val}}</span>
      </p>
    </div>
  {{/each}}
  </div>
</div>
<div class="total-score-wrapper">
  <span> Total: </span>
    <span class="total-score">{{score}}</span>
</div>
